<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Create S3 Bucket</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">  
        <style>
            body{
                height:100vh;
                display:flex;
                flex-direction:column;
                background-color:lightgreen;
                text-align:center;
              }
              
             input {
                font-size: 1rem;
                border: 1px solid black;
                border-radius: 5px;  
                padding: 0.3rem 0.4rem;
            }     
        </style>  
    </head>
    <body>
      <h2>Enter Your S3 Bucket name</h2>
        <form action="/created_s3_bucket" method="post">
            <label><b>Bucket name : </b></label>
               <input type="text" id="s3bucket_id" name="s3bucket_id" />
               <input type="submit" value="submit"/>
        </form>
    </body>
</html>


