<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>List of Running Instances</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body{
                height:100vh;
                display:flex;
                flex-direction:column;
                background-color:lightpink;
                text-align:center;
              }
              
             table{
                 border:1px solid black;
                 border-radius: 5px;
             }
        </style>  
    </head>
    <body>
        <table>
            <tr>
                <th>UserName</th>
                <th>Arn</th>
            </tr>
            {% for f in list2%}
            <tr>
                <td>{{f['UserName']}}</td>    
                <td>{{f['Arn']}}</td>    
            </tr>
            {% endfor %}
        </table>

    </body>
    </html>   
        